@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,800;1,600&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header section */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    list-style: none;
    display: flex;



}

nav ul li a {
    text-decoration: none;
    margin-right: 25px;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.nav-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-des {
    width: 862px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-detail {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
   
}

.banner-pic{
    margin-top: 20px;
    width: 100%;
}

@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;

    }
    nav > ul{
        flex-direction: column;
    }
}

@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;

    }
    nav > ul{
        flex-direction: column;
    }
}